* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

nav {
    background-color: #D4D2D6;
    overflow: hidden;
}

nav a {
    float: left;
    text-align: center;
    color: #2C4B43;
    text-decoration: none;
    padding: 16px 14px;
}

nav a:hover {
    background-color: #487b6e;
    color: #4b2c34;
}

nav a:active {
    background-color: #D4D2D6;
    color: #2C4B43;
}

.name_title {
    background-color: #2C4B43;
    position: relative;
    text-align: left;
}

.name_title h1 {
    color: #2C4B43;
    position: absolute;
    top: 2px;
    left: 16px;
}

.about_me {
    margin-top: -1rem;
    position: relative;
}
.about_me p {
    background-color: #D4D2D6;
    color: #2C4B43;
    height: 614px;
    text-align: left;
    padding: 5rem 1rem 0rem 1rem;
    margin-left: 36rem;
    line-height: 2;
}

.about_me img {
    float: left;
    width: 65%;
    height: 614px;
}

.project_list {
    background-color: #2C4B43;
    width: 100%;
    height: 500px;
    position: relative;
    margin-top: -1rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: 50% 50%;
}

.projects {
    display: grid;
    grid-template-rows: 1fr 1fr;
    
}

.project_image {
    position: relative;
    height: 100px;
    width: auto;
}

.project_image img{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100px;
}

.projects:hover {
    box-shadow: 0 8px 16px 0 #487b6e;
}

.project_card {
    text-align: center;
    padding: 2px 16px;
    background-color: #D4D2D6;
    color: #2C4B43
}



.contact {
    background-color: #D4D2D6;
    color: #2C4B43;
    margin-top: -1.2rem;
    padding-bottom: 1rem;
    align-items: center;
    position: relative;
}

.contact_header {
    text-align: center;
    background-color: #D4D2D6;
    color: #2C4B43;
    
}

.contact_list ul {
    text-decoration: none;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


footer {
    position: relative;
    padding: 1rem;
    background-color: #D4D2D6;
    text-align: center;
    margin-top: -1rem;
}

footer a {
    text-decoration: none;
    color: #2C4B43;
}